.root {
    width: calc(100% / 7);
    height: 140px;
    border-radius: 0;
    align-items: flex-start;
    opacity: 1;
    cursor: initial;
    padding: 10px;
    
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.root :global .data-container {
    padding: 5px 10px;
}

.root :global .chip-container {
    overflow-y: scroll;
    padding: 5px 0px 15px 0px;
    height: 100px;
}

.root:global(:focus),
.root:global(:hover) {
    background-color: initial;
}

.root:global(.MuiPickersDay-today),
.root:global(.MuiPickersDay-today.outside-month:not(.Mui-selected)) {
    box-shadow: inset 0px 0px 3px 3px rgba(13, 70, 161, 1);
    border: none;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 0px;
    font-weight: bold;
}

.root:global(.outside-month:not(.Mui-selected)) {
    opacity: 1
}

.root :global .add-box-icon {

    cursor: pointer;
    width: 25px;
    height: 25px;
}

.root:global(.sunday) {
    border-left: none;
}