.root {
    white-space: nowrap;
}

.root :global .workout-card {
     min-height: 100px;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}
.root :global .workout-card:hover{
    cursor: pointer;
}

.root :global .card-button:hover .MuiCardActionArea-focusHighlight {
    opacity:0.3;
}

.root :global .calendar-icon {
    width: 16px;
    height: 16px;
}

.root :global .MuiCardHeader-title{
    white-space: normal;
}

.root :global .title {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}